{%- comment -%} Requires the following arguments: -settings {%- endcomment -%}

<section class="hero">
  <h2 class="hero_heading">Heading</h2>
  <p class="hero_copy">Some Text Here</p>
  <a href="#" class="hero_link">Click Here</a>
</section>
